body {
font: 12px Verdana,Serif,Arial;
line-height: 18px;
color: #383838;
}

A{ 
text-decoration: none;
color:   #CC6600;
}

.block_comment A{
text-decoration: underline ;
color:   green;
font-size: 80%
}

.comment_subject{
color:   #CC3300;
font-size: 95%
}

.comment_body{
color:   #669999;
font-size: 80%
}

.probel{
margin-left: 100px;
}



.block_comment {

}


.form_comment input, .form_comment textarea{
width: 600px;
font: 14px Verdana;
}



A:hover { 
	color: #009933;
}

h1{
font-family: Georgia, serif;
font-style:italic;
font-size: 12px;
}

div #form_user_login label span{
 width: 70px; margin-top: 6px;
}

div.admin_user_edit  fieldset label, span {
 display: inline-block;
 width: 110px; margin-top: 6px;
 vertical-align: top; 
 font-size: 13px; 
 color: black;  }
 
 div.admin_user_edit  fieldset span {
 font-size: 14px;
color: #660033; 
 }
 
 div .messages span{
font: 16px Verdana bold;
color: red;
float:left;
margin-left: 30%;
width:20%;
height:30px;
}

div .news_user_name{
margin: 7px;
}

div .news_user_name span{
width: auto;
margin-top: 0;
vertical-align: baseline  ; 
}
div .msg_content_red span{
font: 14px Verdana bold;
width:100%;
margin-left: 30%;
height:30px;
color: red;
}

div.link_navigation{
margin: 10px 0px 0px 0px;
margin-left: 40%;
height:30px;
font: 15px Verdana bold;
}

div .msg_content span{
font: 14px Verdana bold;
width:100%;
margin-left: 30%;
height:30px;
color: #CC6600;
}
 
 div.admin_user_edit fieldset img{ 
  float: right ;
  margin: -230px 339px 0px 0px;
 }

div.user_register fieldset label {
 display: inline-block;
 width: 110px; margin-top: 6px;
 vertical-align: top; 
 font-size: 14px; 
 color: black;  }

 div.user_register fieldset input[type="text"], input[type="password"] { 
 width: 180px; height: 18px; 
 margin: 5px 0; 
 padding: 1px 5px; 
 border: 1px solid #ccc; 
 background: #fff; 
 font-size: 13px; 
 line-height: 18px; 
 color: black; }
 


 div.user_register fieldset input[type="submit"] {  
 width: 200px; 
 height: 30px; 
 margin: 0; 
 padding: 0; 
 cursor: pointer;  }




 div .addnews_lang_en{
 float: right;
 margin: -384px 21px 0px 0px;
 }

.news_title A{
font: normal small-caps  36px serif;
color: black;

}

.news_title A:hover { 
	color: #009933;
}

.news_body {
font: 16px Verdana;
}

.news_user_name{
font: 16px Verdana;
position: relative;	
color: #CC9933;
}

.news_user_name > span{
color: green;
}


.form_add_edit_news > input, textarea,p {
width: 400px;
font: 16px Verdana
}

.admin_table{
border: 1px solid;
}

.admin_table > tbody > tr > td  {
width: 72px;
}

.admin_user_edit > tbody > tr > td{
width: 148px;
}

img{
	border: 0;
}

#wrapper{
	width:920px;
	margin:0 auto;
}

#header {
	height:100px;
}

#header .logo{
float:left;

width:400px;
height:70px;
}

#header .menu{
margin: -55px 0 0 ;
clear:both;
float:right;
width:70%;
height:30px;
}

#header .menulang{
margin: -30px 0 0 ;
clear:both;
float:right;
width:30%;
height:30px;
}


#header .mlogin{
clear:both;
float:right;

width:30%;
height:30px;
}


#form_user_login > label > input{
width:20%;
}

#content {	
	width:100%;
	float:left;
	min-height: 440px;
}

#content > form > input{
position: relative;
margin: 5px 0;
}

#header .mlogin form {
clear:both;
float:right;
width:150%;
}

#header .menu li, .menulang li{
	float:left;
	margin-right: 40px;
	margin-top: -10px;
	list-style:none;
	text-transform:uppercase;
	font-weight:bold;
	text-align:center;
	display:block;
}


#header .lang li{
	float:left;
	margin-right: 40px;
	margin-top: -5px;
	list-style:none;
	text-transform:uppercase;
	font-weight:bold;
	text-align:center;
	display:block;
}

#footer{
	clear: both;
	float:left;
	height:60px;
	width:100%;
	text-align:right;
}